<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="orakaro.alarmer.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="orakaro.alarmer.app.RingListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="orakaro.alarmer.app.RingDetailActivity"
            android:label="@string/title_ring_detail"
            android:parentActivityName="orakaro.alarmer.app.RingListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="orakaro.alarmer.app.RingListActivity" />
        </activity>
    </application>

</manifest>
